body {
    background-color: #CFC9C9;
}

#nav {    
    background-color: white;		                                            
    font-family: calibri, sans-serif;
}




.fett {
    font-weight: bold;
}